.content {
  width: 100%;
  display: flex;
  flex-direction: column;

  .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;

    h1 {
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
    }

  }

  .form {
    width: 100%;
    padding: 20px 12px;
    border: 1px solid #F3F3F3;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;

    .inputs {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .textarea {
      width: 100%;
    }

    .button {
      position: absolute;
      top: calc(100% + 10px);
      right: 0;
    }
  }


}