.content {
  width: calc(100% - 32px);
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 426px){
    width: 100%;
  }

  h1 {
    margin-bottom: 17px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .count {
    margin-top: 10px;
    align-self: flex-end;
  }
}