.sidebar {
  background-color: #BDBDBD;
  width: 152px;
  max-width: 100%;
  padding: 35px 26px 35px 20px;

  @media screen and (max-width: 600px) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

  }

}